<!DOCTYPE HTML>
<head>

<title>AudIoTVuln</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="css/main.css" />
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  table-layout:auto;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 80%;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.critical {
    background-color: purple; 
}
</style>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("h5:contains(###)").css("display", "initial");
  $("h4:contains(***)").css("display", "initial");
  $("h4:contains(---)").css("display", "initial");
  $("li:contains(/)").css("display", "initial");
  $("li:contains(@)").css("display", "initial");
  $("li:contains(0.)").css("display", "initial");
  $("li:contains(1.)").css("display", "initial");
  $("li:contains(2.)").css("display", "initial");
  $("li:contains(3.)").css("display", "initial");
  $("li:contains(4.)").css("display", "initial");
  $("li:contains(5.)").css("display", "initial");
  $("li:contains(6.)").css("display", "initial");
  $("li:contains(7.)").css("display", "initial");
  $("li:contains(8.)").css("display", "initial");
  $("li:contains(9.)").css("display", "initial");
});
</script>

</head>
<!--  this is header -->